@import url("https://fonts.googleapis.com/css2?family=Amatic+SC:wght@400;700&family=Outfit:wght@100;200;300;400;500;600;700;800;900&family=Poppins:wght@100;400;600&display=swap");

/*!-------RESET-----------------------------------------------!*/
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
/*!-------HEADER (igual a todos)----------------------------------------------!*/
header {
  background-color: black;
  color: aliceblue;
}
header h1 {
  font-family: poppins;
  font-size: 30px;
  font-weight: 100;
  margin: 10px;
}
header a {
  text-decoration: none;
  color: aliceblue;
}
header nav {
  position: sticky;
  top: 0;
}
header h1 span {
  font-family: outfit;
  font-weight: 600;
}
/*----FIN HEADER------------------------------------------------!*/

/*!--------- MAIN ----------------------------------------------!*/

/*!------PAGINA INDEX---------------------------------------!*/
.hero {
  background-image: url(../img/ai-generated-8096072_640.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  width: 100%;
  height: 80vb;
  color: white;
  text-align: left;
  font-family: outfit;
  font-size: large;
  font-weight: 600;
}
.hero p {
  padding: 300px 10px;
  text-align: justify;
}
/*----seccion logos (tarjetas al pie)--!*/
.logos {
  display: flex;
  justify-content: center;
}
.logos div {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 15px;
  padding: 5px;
}
.logos div img {
  width: 75px;
  height: 75px;
}
.logos div a {
  font-family: outfit;
  font-size: 20px;
  text-decoration: none;
  color: black;
}
/*---FIN PAGINA INDEX--!*/

/*--------PAGINA DIVISIONES-------------------------------------!*/

/*!---posicion del logo sobre el mapa---!*/
.posicion_division {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.posicion_division img {
  padding: 10px;
}
/*!---fin posicion-----------------------!*/

/*-----seccion avicultura----------------!*/
.poultry {
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding: 75px;
  -webkit-box-shadow: 2px 9px 76px 1px rgba(126, 128, 105, 0.75);
  -moz-box-shadow: 2px 9px 76px 1px rgba(126, 128, 105, 0.75);
  box-shadow: 2px 9px 76px 1px rgba(126, 128, 105, 0.75);
}
.poultry img {
  width: 200px;
  height: 200px;
}
.poultry div {
  padding: 10px;
}
/*---------fin seccion avicultura----------!*/

/*---------seccion panificados--------------!*/

.panificado {
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding: 75px;
  -webkit-box-shadow: 2px 9px 76px 1px rgba(126, 128, 105, 0.75);
  -moz-box-shadow: 2px 9px 76px 1px rgba(126, 128, 105, 0.75);
  box-shadow: 2px 9px 76px 1px rgba(126, 128, 105, 0.75);
}

.panificado img {
  width: 200px;
  height: 200px;
}

.panificado div {
  padding: 10px;
}

/*---------fin seccion panificado----------!*/

/*---------seccion porcinos--------------!*/

.porcino {
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding: 75px;
  -webkit-box-shadow: 2px 9px 76px 1px rgba(126, 128, 105, 0.75);
  -moz-box-shadow: 2px 9px 76px 1px rgba(126, 128, 105, 0.75);
  box-shadow: 2px 9px 76px 1px rgba(126, 128, 105, 0.75);
}
.porcino img {
  width: 200px;
  height: 200px;
}
.porcino div {
  padding: 10px;
}
/*---------fin seccion porcino----------!*/

/*---------seccion ovinos--------------!*/
.ovino {
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding: 75px;
  -webkit-box-shadow: 2px 9px 76px 1px rgba(126, 128, 105, 0.75);
  -moz-box-shadow: 2px 9px 76px 1px rgba(126, 128, 105, 0.75);
  box-shadow: 2px 9px 76px 1px rgba(126, 128, 105, 0.75);
}
.ovino img {
  width: 200px;
  height: 200px;
}
.ovino div {
  padding: 10px;
}
/*---------fin seccion ovino----------!*/
/*---------fin Pagina divisiones------!*/

/*!---------PAGINA PRODUCTOS----------------------------------------!*/
/*!---------galeria de imagenes-------------------------------------!*/
.galeria {
  width: 100%;
  margin-top: 70px;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-auto-rows: 220px;
  gap: 10px;
}
.galeria div img {
  width: 100%;
  height: 100%;
  -webkit-box-shadow: 2px 9px 76px 1px rgba(126, 128, 105, 0.75);
  -moz-box-shadow: 2px 9px 76px 1px rgba(126, 128, 105, 0.75);
  box-shadow: 2px 9px 76px 1px rgba(126, 128, 105, 0.75);
}
.galeria_item {
  position: relative;
  text-align: center;
}
.galeria_item h3 {
  width: 100%;
  position: absolute;
  bottom: 0;
  color: aliceblue;
  background-color: rgba(0, 0, 0, 0.391);
}
/*!-------fin galeria de imagenes--------------------------------!*/
/*!---------------FIN PAGINA PRODUCTOS---------------------------!*/

/*!---------------PAGINA COMERCIO--------------------------------!*/
.comercial {
  background-image: url(../img/barcoExport.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  width: 100%;
  height: 100vb;
  color: white;
  text-align: left;
  font-family: outfit;
  font-size: x-large;
  font-weight: 800;
}
.comercial div p {
  padding-left: 20px;
  padding-top: 50px;
}

.comercio {
  display: flex;
  justify-content: space-around;
  align-items: center;
  text-align: center;
  padding: 50px;
}
.comercio img {
  width: 400px;
  height: 300px;
  object-fit: cover;
}

.comercio div p {
  font-family: outfit;
  font-size: medium;
  font-weight: 400;
}
.grupo_comercio {
  padding: 10px;
}
.grupo_comercio img {
  padding: 5px;
}
/*!----------------------FIN PAGINA COMERCIO-----------------------!*/

/*!----------------------PAGINA CONTACTO---------------------------!*/

.contacto {
  width: 100%;
  margin-top: 70px;
  padding: 20px;
  background-image: url(../img/logistics-5296666_640.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.datos h3 {
  color: aliceblue;
}
.datos hr {
  border-width: 5px;
  color: black;
}

.datos p {
  font-family: poppins;
  font-weight: 600;
  color: aliceblue;
  text-align: center;
}
.formulario div {
  font-family: poppins;
  font-size: large;
  font-weight: 600;
}
/*!---------------------FIN PAGINA CONTACTO----------------------!*/
/*!---------------------FIN SECCION MAIN-------------------------!*/

/*!-------- FOOTER --------------------------------------------!*/

.pie {
  width: 100%;
  background-color: black;
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: aliceblue;
  padding: 20px;
}
.pie div h2 {
  font-family: poppins;
  font-size: 15px;
  font-weight: 100;
}
.pie div h2 a {
  text-decoration: none;
  color: aliceblue;
}
.pie div h2 span {
  font-family: outfit;
  font-weight: 600;
}
/*!---------------------FIN FOOTER (IGUAL A TODOS)------------!*/

/*!---------- MEDIAS QUERY -----------------------------------/*/
@media screen and (max-width: 950px) {
  /*!---MEDIA QUERY PARA PAGINA DIVISIONES--!*/
  .poultry,
  .porcino {
    flex-direction: column;
    text-align: center;
  }
  .panificado,
  .ovino {
    flex-direction: column-reverse;
    text-align: center;
  }

  /*!---MEDIA QUERY PARA PAGINA COMERCIO--!*/
  .comercio {
    background-image: url(../img/import-7641107_640.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  .grupo_comercio {
    display: none;
  }
  .galeria {
    grid-auto-rows: 200px;
  }
}

/*!------FIN MEDIA 950PX----------------------!*/

@media screen and (max-width: 700px) {
  /*!---MEDIA QUERY PARA PAGINA DIVISIONES--!*/
  .poultry div {
    text-align: center;
  }
  /*!---MEDIA QUERY PARA FOOTER--!*/
  .pie {
    flex-direction: column;
    align-items: center;
    font-size: 10px;
  }
  /*!---MEDIA QUERY PARA PAGINA PRODUCTO--!*/
  .galeria {
    grid-template-columns: repeat(2, 1fr);
    grid-auto-rows: 180px;
  }
  /*!----MEDIA QUERY PARA PAGINA CONTACTO--!*/
  .contacto {
    flex-direction: column;
  }

  /*!---FIN MEDIA QUERY 700PX--!*/
}

@media screen and (max-width: 550px) {
  /*!---MEDIA QUERY PARA PAGINA INDEX--!*/
  .hero p {
    text-align: center;
  }
  .logos {
    flex-wrap: wrap;
  }
  /*!---MEDIA QUERY PARA PAGINA PRODUCTO--!*/
  .galeria {
    grid-auto-rows: 150px;
  }

  /*!---FIN MEDIA QUERY 700PX--!*/
}
