/*!--MEDIA QUERY 950PX--!*/
@media screen and (max-width: 950px) {
  /*!---Media query pagina Divisiones--!*/
  .poultry,
  .porcino {
    flex-direction: column;
    text-align: map-get($estilos, alineacion);
  }
  .panificado,
  .ovino {
    flex-direction: column-reverse;
    text-align: map-get($estilos, alineacion);
    /*!---Media query para pagina Comercio--!*/
  }
  .comercio {
    background-image: linear-gradient(rgba(0, 0, 0, 0.35), rgba(0, 0, 0, 0.35)),
      url(../img/import-7641107_640.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    div {
      p {
        color: aliceblue;
        font-weight: 400;
      }
    }
  }
  .grupo_comercio {
    display: none;
  }
}

.galeria {
  grid-auto-rows: 200px;
}

/*!---Fin media query 950px--!*/

/*!--MEDIA QUERY 700PX--!*/
@media screen and (max-width: 700px) {
  /*!---Media query pagina Divisiones--!*/
  .poultry div {
    text-align: map-get($estilos, alineacion);
  }

  /*!---Media query pagina Productos--!*/
  .galeria {
    grid-template-columns: repeat(2, 1fr);
    grid-auto-rows: 180px;
  }
  /*!--Media query pagina Contacto--!*/
  .contacto {
    flex-direction: column;
    height: auto;
    .datos {
      h2 {
        padding-top: 10px;
      }
    }
  }

  /*!--fin media query 700PX--!*/
}

/*!--MEDIA QUERY 550PX--!*/
@media screen and (max-width: 550px) {
  /*!--Media query pagina Inicio--!*/
  .hero p {
    text-align: map-get($estilos, alineacion);
  }
  .logos {
    flex-wrap: wrap;
  }
  /*!---Media query pagina productos--!*/
  .galeria {
    grid-auto-rows: 150px;
  }

  /*!--Media query pagina contacto--!*/
  .contacto {
    h2 {
      font-size: nth($font-size, 5);
      text-align: map-get($estilos, alineacion);
      padding-top: 10px;
    }
  }

  /*!---fin media query 550PX--!*/
}
