/*!--Pagina comercio--!*/
/*!--Seccion Comercial--!*/
.comercial {
  background-image: url(../img/barcoExport.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  width: map-get($estilos, alto);
  height: 100vh;
  color: white;
  text-align: left;
  font-size: x-large;
  @extend %familySecundaria600;

  h2 {
    padding: 85px 20px 0px 15px;
  }
  p {
    padding: 2px 20px 0px 15px;
  }
}
/*!--Seccion Comercio--!*/
.comercio {
  display: flex;
  justify-content: space-around;
  align-items: center;
  text-align: map-get($estilos, alineacion);
  padding: 50px;
  .grupo_comercio {
    padding: 10px;
    img {
      padding: 5px;
      width: 250px;
      height: 250px;
      object-fit: cover;
    }
  }
  div {
    h3 {
      @extend %familyPrimaria600;
    }
    p {
      font-size: medium;
      @extend %familyPrimaria400;
    }
  }
}
/*!--Fin pagina comercio--!*/
