/*!--Pagina contacto--!*/
/*!--Seccion contacto--!*/
.contacto {
  width: map-get($estilos, ancho);
  height: 100vh;
  background-image: linear-gradient(rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3)),
    url(../img/logistics-5296666_640.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  display: flex;
  justify-content: space-around;
  align-items: center;

  .datos {
    padding-top: 75px;
    color: gold;
    h2 {
      @extend %familySecundaria600;
    }
    p {
      @extend %familyPrimaria600;
      text-align: map-get($estilos, alineacion);
    }
  }
  .formulario {
    padding-top: 75px;
    div {
      @extend %familyPrimaria600;
      button {
        @extend %familySecundaria600;
      }
    }
  }
}
/*!--Fin seccion contacto--!*/
/*!--Fin pagina Contacto--!*/
