/*!--Pagina Divisiones--!*/
/*!--Seccion poultry--!*/
.poultry {
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding: 75px;
  -webkit-box-shadow: 2px 9px 76px 1px rgba(126, 128, 105, 0.75);
  -moz-box-shadow: 2px 9px 76px 1px rgba(126, 128, 105, 0.75);
  box-shadow: 2px 9px 76px 1px rgba(126, 128, 105, 0.75);
  .posicion_division {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    img {
      padding: 10px;
      width: 200px;
      height: 200px;
    }
  }
  div {
    padding: 10px;
    h2 {
      @extend %familyPrimaria600;
    }
    p {
      @extend %familySecundaria400;
    }
  }
}
/*!--fin seccion poutry--!*/

/*!--Seccion panificado--!*/
.panificado {
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding: 75px;
  -webkit-box-shadow: 2px 9px 76px 1px rgba(126, 128, 105, 0.75);
  -moz-box-shadow: 2px 9px 76px 1px rgba(126, 128, 105, 0.75);
  box-shadow: 2px 9px 76px 1px rgba(126, 128, 105, 0.75);
  div {
    padding: 10px;
    h2 {
      @extend %familyPrimaria600;
    }
    p {
      @extend %familySecundaria400;
    }
  }
  .posicion_division {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    img {
      padding: 10px;
      width: 200px;
      height: 200px;
    }
  }
}
/*!--fin seccion panificado--!*/

/*!--Seccion porcino--!*/
.porcino {
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding: 75px;
  -webkit-box-shadow: 2px 9px 76px 1px rgba(126, 128, 105, 0.75);
  -moz-box-shadow: 2px 9px 76px 1px rgba(126, 128, 105, 0.75);
  box-shadow: 2px 9px 76px 1px rgba(126, 128, 105, 0.75);
  .posicion_division {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    img {
      width: 200px;
      height: 200px;
    }
  }
  div {
    padding: 10px;
    h2 {
      @extend %familyPrimaria600;
    }
    p {
      @extend %familySecundaria400;
    }
  }
}
/*!--fin seccion porcino--!*/

/*!--Seccion ovino--!*/
.ovino {
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding: 75px;
  -webkit-box-shadow: 2px 9px 76px 1px rgba(126, 128, 105, 0.75);
  -moz-box-shadow: 2px 9px 76px 1px rgba(126, 128, 105, 0.75);
  box-shadow: 2px 9px 76px 1px rgba(126, 128, 105, 0.75);
  div {
    h2 {
      @extend %familyPrimaria600;
    }
    p {
      @extend %familySecundaria400;
    }
  }
  .posicion_division {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding: 10px;
    img {
      width: 200px;
      height: 200px;
    }
  }
}
/*!--fin seccion porcino--!*/
/*!--Fin pagina Divisiones--!*/
