/*!--Cuerpo del footer--!*/
.pie {
  div {
    h4 {
      font-family: nth($font-family, 1);
      font-size: nth($font-size, 4);
      font-weight: nth($font-width, 1);

      a {
        text-decoration: none;
        color: aliceblue;
        span {
          font-family: nth($font-family, 2);
          font-weight: nth($font-width, 4);
        }
      }
    }
  }
  p {
    @extend %familySecundaria600;
    font-size: nth($font-size, 2);
  }
  div {
    h5 {
      font-family: nth($font-family, 1);
      font-size: nth($font-size, 4);
      font-weight: nth($font-width, 4);
    }
    p {
      @extend %familySecundaria600;
      font-size: nth($font-size, 2);

      a {
        text-decoration: none;
        &:hover {
          color: aliceblue !important;
        }
      }
    }
  }
  div {
    ul {
      li {
        a {
          text-decoration: none;
          font-size: small;
          &:hover {
            color: white;
          }
        }
      }
    }
  }
}
