header {
  background-color: black;
  color: aliceblue;
  nav {
    position: sticky;
    top: 0;
    div {
      h1 {
        font-family: poppins;
        font-size: 30px;
        font-weight: 100;
        margin: 10px;
        span {
          font-family: outfit;
          font-weight: 600;
        }
        a {
          text-decoration: none;
          color: aliceblue;
        }
      }
    }
  }
}
