/*!--cuerpo del header--!*/
header {
  background-color: black;
  color: aliceblue;
  nav {
    position: sticky;
    top: 0;
    div {
      h1 {
        font-family: nth($font-family, 1);
        font-size: nth($font-size, 6);
        font-weight: nth($font-width, 1);
        margin: 10px;
        span {
          font-family: nth($font-family, 2);
          font-weight: nth($font-width, 4);
        }
        a {
          text-decoration: none;
          color: aliceblue;
        }
      }
    }
  }
}
