/*!--Pagina de inicio--!*/
/*!--Seccion Hero--!*/
.hero {
  background-image: linear-gradient(rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.2)),
    url(../img/ai-generated-8096072_640.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  width: map-get($estilos, ancho);
  height: 100vh;
  color: white;
  text-align: map-get($estilos, alineacion);
  font-size: large;
  @extend %familyPrimaria600;

  h2 {
    padding: 85px 20px 0px 0px;
  }
  p {
    padding: 2px 20px;
  }
}
/*!--fin seccion Hero--!*/

/*!--Seccion de logos--!*/
.logos {
  display: flex;
  justify-content: center;
  div {
    width: map-get($estilos, ancho);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 15px;
    padding: 5px;
    img {
      width: 75px;
      height: 75px;
    }
    div {
      h3 {
        @extend %familySecundaria600;
        font-size: larger;
      }
      a {
        font-family: nth($font-family, 2);
        font-weight: nth($font-width, 4);
        font-size: small;
        text-decoration: none;
        color: black;
      }
    }
  }
}
/*!--fin seccion Logos--!*/
/*!--Fin pagina de inicio--!*/
