/*!--Pagina Productos--!*/
/*!--Seccion de galeria de imagenes--!*/
.galeria {
  width: map-get($estilos, ancho);
  margin-top: 70px;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-auto-rows: 220px;
  gap: 15px;
  .galeria_item {
    position: relative;
    text-align: center;
    img {
      width: map-get($estilos, ancho);
      height: map-get($estilos, alto);
      object-fit: map-get($estilos, objet-fit);
      -webkit-box-shadow: 2px 9px 76px 1px rgba(126, 128, 105, 0.75);
      -moz-box-shadow: 2px 9px 76px 1px rgba(126, 128, 105, 0.75);
      box-shadow: 2px 9px 76px 1px rgba(126, 128, 105, 0.75);
    }
    h2 {
      width: map-get($estilos, ancho);
      font-family: nth($font-family, 1);
      font-size: nth($font-size, 4);
      font-style: map-get($estilos, style);
      font-weight: bolder;
      position: absolute;
      bottom: 0;
      color: aliceblue;
      background-color: rgba(0, 0, 0, 0.391);
    }
  }
}
/*!--fin de seccion galeria--!*/
/*!--fin Pagina Productos--!*/
